<% content_for :javascripts do %>
  <%= javascript_include_tag 'lib/jquery.jcarousel', 'lib/jquery.fancybox-1.3.4.pack', 'app/company' %>
  <%= stylesheet_link_tag "app/jquery.fancybox-1.3.4" %>
<% end %>

<div class="static">
  <% if @photos.count > 4 %>
    <% @photos.each do |p|%>
      <div id="carousel" class="jcarousel">
        <div class="carousel_container">
          <ul>
            <li class="thumb">
              <%= link_to image_tag(p.photo(:thumb)), p.photo(:original) %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
  <p>
    Elektroniką i diagnostyką samochodową zajmujemy się od 1990 roku.
    Posiadamy rozległą wiedzę zarówno teoretyczną jak też praktyczną w zakresie obsługi
    wszelkiego rodzaju pojazdów silnikowych ze szczególnym uwzględnieniem układów
    elektromechanicznych i elektronicznych stosowanych w motoryzacji.
  </p>
  <p>
    W obecnej formie firma istnieje od 2007 roku. Postęp technologiczny oraz zainteresowanie
    niszowymi rozwiązaniami zaowocowały w 2011 roku realizacją nowatorskiego na skalę europejską projektu -
    udostępnienia każdemu kierowcy możliwości łatwej, szybkiej i taniej komputerowej diagnostyki
    własnego pojazdu.
  </p>
  <p>
    Dostęp do wiedzy i możliwości dostępnych dotychczas jedynie dla profesjonalistów i
    wyspecjalizowanych warsztatów jest realizowany za pomocą stacjonarnego urządzenia,
    którego jesteśmy pomysłodawcami i współtwórcami.
  </p>
  <p>
    Dystrybucja i obsługa urządzeń "BLUE CHECK POINT" jest obecnie głównym zadaniem
    realizowanym przez firmę i trzonem jej działalności.
  </p>
</div>
<p class="bottom-bg"></p>

