<div class="static">
  <p class="centered">
    Blue Check Point<br />
    Makal Tomasz<br />
    15-396 Białystok<br />
    ul. Mikołaja Kopernika 97<br />
    NIP 542-125-65-38<br /><br />

    kontakt@bluecheckpoint.pl<br />
    www.bluecheckpoint.pl<br />
    www.bluecheckpoint.com<br /><br />

    tel.kom. 698 669 959<br />
    tel.kom.informacyjny 605 689 959
  </p>
</div>
<p class="bottom-bg"></p>

