<div class="static">
  <p>
    W dziale "POMOC" zamieszczone są wszelkie informacje ułatwiające każdemu kierowcy
    obsługę naszych urzżdzeń jak też bliższe poznanie własnego pojazdu. Dział jest
    aktualizowany na bieżąco zarówno w oparciu o nowosci wprowadzane przez producentów pojazdów, jak
    również sugestie naszych Klientów.
  </p><br/>
  <p>
    "KODY" - wyszukiwarka opisów kodów standardowych i specyficznych generowanych przez sterowniki
    pojazdów.
  </p><br/>
  <p>
    "ZŁĄCZA" - opisy lokalizacji gniazd diagnostycznych w różnych markach i modelach samochodów.
  </p><br/>
  <p>
    "SAMOCHODY" - spis marek i modeli samochodów obsługiwanych przez system "BLUE CHECK POINT"
  </p>
</div>
<p class="bottom-bg"></p>

