<p class="map-info">
  Na mapie poniżej rozmieszczono lokalizacje punktów wyposażonych w urządzenia "BLUE CHECK POINT" wraz z dokładnym
adresem.
</p>

<%= image_tag "layouts/mapa.png", alt: 'map', id: 'map' %>
