body {
  font-family: "Archer", arial, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
}

#background-image {
  position: absolute;
  z-index: -1;
}

#page {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

h2, label, a, p {
  color: white;
  text-decoration: none;
}

#user_new {
  width: 350px;
  margin: 150px auto 0px auto;
}

#user_nav {
  margin-right: 7px;
  float: right;
  margin-top: 20px;
  font-size: 15px;
  color: white;
}

/* menu */

#menu {
  width: 1024px;
  height: 100px;
  display: block;
}

#menu-top-bar {
  position: relative;
  width: 1028px;
  top: 32px;
}

#menu-buttons {
  padding-top: 20px;
  float: right;
  width: 100%;
}

#menu p{
  float: right;
  width: 110px;
  height: 47px;
  margin: 0px;
  padding: 0 3px;
  position: relative;
  bottom: 0;
  background-repeat: no-repeat;
  background-image: url(/images/layouts/custom_button.png);
}

#menu p.active,
#menu p.hovered {
  background-image: url(/images/layouts/custom_button_active.png) !important;
}

#menu p.active a,
#menu p.hovered a {
  color: white !important;
}

#menu p a {
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  color: #010166;
  line-height: 28px;
}



/* menu ends */
