body {
  font-family: "Archer", arial, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
}

#background-image {
  position: absolute;
  z-index: -1;
}

#page {
  width: 1024px;
  height: 955px;
  margin: 0 auto;
  overflow: hidden;
}

#images {
  float: left;
  width: 510px;
  height: 600px;
  margin-top: -50px;
  margin-left: 40px;
  display: inline;
}

#images .main-image,
#images img.hidden {
  margin-top: -481px;
  margin-left: -198px;
  position: absolute;
  width: 355px;
}

#images img.hidden {
  display: none;
}

#circle {
  width: 475px;
}

#circle-content {
  top: -434px;
  left: 111px;
  width: 255px;
  position: relative;
}

#main {
  float: right;
  position: relative;
  width: 458px;
  height: 600px;
  top: 70px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-align: justify;
}

#main .static {
  z-index: 5;
  top: -440px;
  padding: 0 10px;
  position: relative;
}

#main-bg {
  width: 458px;
  height: 450px;
}

#sub-dot {
  position: relative;
  top: -557px;
  left: 193px;
}

#submenu-lines {
  position: relative;
  clear: both;
  top: -15px;
  right: 104px;
}

.pagination,
.bottom-bg {
  background-image: url(/images/layouts/static-bg-bottom.png);
  background-repeat:repeat-x;
  height: 30px;
  width: 458px;
  margin-top: 0px;
}

#main-bg.devices {
  height: 550px  !important;
}

.static.devices {
  top: -540px !important;
}

.static .centered {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}

#main-bg.news {
  margin-top: 35px;
  height: 105px  !important;
}

.static.news {
  top: -95px !important;
}

#map {
  width: 480px;
  margin-top: 25px;
}

.map-info {
  margin-top: 20px;
}

.news-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: -75px;
  height: 470px;
}

li:nth-child(2) {
  margin-top: -480px !important;
}

.news-container li {
  padding: 0px 20px 0px 20px;
}

.news-container p {
  font-size: 15px;
}

.news-bg {
  padding: 0;
  margin: 0;
  height: 470px;
  width: 100%;
  z-index: -1;
}

.pagination {
  text-align: right;
  line-height: 30px;
}

.pagination a{
  color: white !important;
  text-decoration: none;
}

ul.news-container li a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  left: 380px;
  top: -10px;
}

.popup {
  width: 500px;
}

.pagination .current {
  font-size: 14px !important;
}

.created-at {
  font-size: 11px !important;
  margin-top: -10px;
}

.static div {
  margin-top: -50px;
  margin-left: -9px;
}

p.search {
  background: url(/images/layouts/input.png) no-repeat;
  width: 193px;
  height: 47px;
  float: left;
  padding-right: 8px;
}

input, #q {
  border: 0;
  background: none;
  height: 29px;
  line-height: 29px;
  color: white;
  font-size: 18px;
  padding-left: 5px;
}

#q {
  width: 187px;
}

#commit input {
  width: 27px;
  padding: 0;
  cursor: pointer;
}

#commit {
  float: left;
  width: 27px;
  height: 47px;
  background-repeat: no-repeat;
  background-image: url(/images/layouts/search.png);
}

#commit.active,
#commit.hovered {
  background-image: url(/images/layouts/search_active.png) !important;
}
