body {
  font-family: "Archer", arial, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
}

#background-image {
  position: absolute;
  z-index: -1;
}

#page {
  width: 1024px;
  height: 955px;
  margin: 0 auto;
  overflow: hidden;
}

#images {
  float: left;
  width: 510px;
  height: 600px;
  margin-top: -50px;
  margin-left: 40px;
  display: inline;
}

#images .main-image,
#images img.hidden {
  margin-top: -481px;
  margin-left: -198px;
  position: absolute;
  width: 355px;
}

#images img.hidden {
  display: none;
}

#circle {
  width: 475px;
}

#circle-content {
  top: -434px;
  left: 111px;
  width: 255px;
  position: relative;
}

#main {
  float: right;
  position: relative;
  width: 458px;
  height: 600px;
  top: 120px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-align: justify;
}

#main .static {
  z-index: 5;
  top: -460px;
  padding: 0 10px;
  position: relative;
}

#main-bg {
  width: 458px;
  height: 470px;
}

#sub-dot {
  position: relative;
  top: -557px;
  left: 193px;
}

#submenu-lines {
  position: relative;
  clear: both;
  top: -15px;
  right: 104px;

}
