#subheader {
  float: right;
  margin-top: -17px;
  width: 514px;
  height: 135px;
  display: block;
}

#subheader p{
  right: 175px;
  width: 110px;
  height: 47px;
  margin: 0px;
  padding: 0 3px;
  position: relative;
  background-repeat: no-repeat;
  float: right;
  top: 90px;
}

#subheader p a {
  display: block;
  width: 100%;
  height: 30px;
  margin-left: -2px;
}

#main-line {
  left: 105px;
  position: relative;
}

#dot {
  top: 5px;
  right: 20px;
  position: relative;
}

#dot-help {
  top: 5px;
  right: 79px;
  position: relative;
}

/* company */
#aktualnosci-button {
  background-image: url(/images/layouts/aktualnosci.png);
}

#aktualnosci-button.active,
#aktualnosci-button.hovered {
  background-image: url(/images/layouts/aktualnosci_active.png) !important;
}

#kontakt-button {
  background-image: url(/images/layouts/kontakt.png);
}

#kontakt-button.active,
#kontakt-button.hovered {
  background-image: url(/images/layouts/kontakt_active.png) !important;
}

/* contact end */
/* devices */

#lokalizacje-button {
  background-image: url(/images/layouts/lokalizacje.png);
}

#lokalizacje-button.active,
#lokalizacje-button.hovered {
  background-image: url(/images/layouts/lokalizacje_active.png) !important;
}

#wspolpraca-button {
  background-image: url(/images/layouts/wspolpraca.png);
}

#wspolpraca-button.active,
#wspolpraca-button.hovered {
  background-image: url(/images/layouts/wspolpraca_active.png) !important;
}

/* devices end */
/* partners */

#technodiag-button {
  background-image: url(/images/layouts/technodiag.png);
}

#technodiag-button.active,
#technodiag-button.hovered {
  background-image: url(/images/layouts/technodiag_active.png) !important;
}

#imedia-button {
  background-image: url(/images/layouts/imedia.png);
}

#imedia-button.active,
#imedia-button.hovered {
  background-image: url(/images/layouts/imedia_active.png) !important;
}

/* partners end */
/* help */

#kody-button {
  top: 5px !important;
  background-image: url(/images/layouts/kody.png);
}

#kody-button.active,
#kody-button.hovered {
  background-image: url(/images/layouts/kody_active.png) !important;
}

#zlacza-button {
  top: 5px !important;
  background-image: url(/images/layouts/zlacza.png);
}

#zlacza-button.active,
#zlacza-button.hovered {
  background-image: url(/images/layouts/zlacza_active.png) !important;
}

#samochody-button {
  right: 60px !important;
  background-image: url(/images/layouts/samochody.png);
}

#samochody-button.active,
#samochody-button.hovered {
  background-image: url(/images/layouts/samochody_active.png) !important;
}
/* help end */
