<div id="device_image_add">
  <p id="add-codes-button">
    <%= link_to "Dodaj", new_admin_device_photo_path %>
  </p>
</div>
<div id="images">
  <ul>
    <% @device_photos.each do |img| %>
      <li>
        <%= image_tag(img.photo.url(:admin_thumb)) %>
        <%= link_to image_tag("/images/fancybox/fancy_close.png", :class => "remove-image"), admin_device_photo_path(img), :confirm=>"Are you sure", :method=>:delete %>
      </li>
    <% end %>
  </ul>
</div>
