<div id="menu">
  <div id="menu-buttons">
    <p id="pomoc-button"><%= link_to "", help_static_pages_path %></p>
    <p id="partnerzy-button"><%= link_to "", partners_static_pages_path %></p>
    <p id="urzadzenia-button"><%= link_to "", devices_static_pages_path %></p>
    <p id="firma-button"><%= link_to "", company_static_pages_path %></p>
  </div>
</div>
