<div id="images">
  <%= image_tag "layouts/circle.png", alt: 'Circle', id: 'circle' -%>
  <%= image_tag "layouts/main_circle_content.png", alt: 'Circle content', id: 'circle-content' -%>

  <% if params[:controller] == "static_pages" %>
    <% unless params[:action] == "company" || params[:action] == "devices" || params[:action] == "partners" || params[:action] == "help" %>
      <%= image_tag "layouts/dot.png", alt: 'dot', id: 'sub-dot' -%>
    <% end %>
  <% end %>
</div>
